:root {
  --clr-primary:#070707;
  --clr-accent: #fca311;

  --clr-neutral-100: #ffffff;
  --clr-neutral-200: #f6f6f6;
  --clr-neutral-300: #e5e5e5;
  --clr-neutral-400: #d3d3d3;
  --clr-neutral-500: #7c7c7c;
  --clr-neutral-600: #3a3a3a;
  --clr-neutral-700: #070707;

  --clr-transparent: hsla(100%, 100%, 100%, 0);

  --fs-300: 0.9375rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;
  --fs-800: 1.75rem;
  --fs-900: 2.25rem;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --ff-body: "Source Sans 3", serif;
  --ff-heading: "Oswald", serif;

  --screen-smallest:40em;
  --screen-small: 50em;
  --screen-large: 80em;
  --screen-largest: 90em;
}

@media (min-width: 50em) {
  :root {
    --fs-300: 1rem;
    --fs-400: 1.1rem;
    --ff-500: 1.25rem;
    --fs-600: 1.4rem;
    --fs-700: 1.65rem;
    --fs-800: 2rem;
    --fs-900: 2.5rem;
  }
}

/* Remove default margin in favour of better control in authored CSS */
* {
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: flex-start; */
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4, h5,
button, input, label {
  line-height: 1.5;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4, h5 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
  text-wrap: balance;
}
h1 {
  font-size: var(--fs-900);
}
h2 {
  font-size: var(--fs-800);
}
h3 {
  font-size: var(--fs-700);
}
h4 {
  font-size: var(--fs-600);
}
h5 {
  font-size: var(--fs-500);
}
p {
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-600);
  font-size: var(--fs-400);
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: var(--clr-accent);
  font-family: var(--ff-body);
}

/* Make images easier to work with */
img,
svg,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  color: var(--clr-neutral-600);
}
select {
  min-height: 50px;
  border: 2px solid var(--clr-neutral-400);
  border-radius: 5px;
  color: var(--clr-neutral-500);
}
/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

button {
  padding-inline: 1.5rem;
  padding-block: 0.5rem;
  color: var(--clr-primary);
  font-size: var(--fs-500);
  font-weight: var(--fw-medium);
  background-color: var(--clr-accent);
  border: 2px solid var(--clr-accent);
  border-radius: 5px;
}
button:hover {
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary);
  border-color: var(--clr-primary);
}
.button-outline {
  color: var(--clr-accent);
  background-color: var(--clr-transparent);
}

/* Style images across the website */
svg {
  color: var(--clr-accent);
}
img {
  border-radius: 10px;
  filter: grayscale(1);
}
.portrait {
  aspect-ratio: 3 / 4;
  width: 100%;
  object-fit: cover;
}
.portrait-tall {
  aspect-ratio: 3 / 5;
}

/* Design for parent divs for all sections */
.wrapper {
  display: block;
  padding-inline: 1rem;
  padding-block: 2rem;
  max-width: min(100%,90em);
  margin: auto;
}
@media (min-width: 50em) {
  .wrapper {
    padding-inline: 2rem;
  }
}
@media (min-width: 70em) {
  .wrapper {
    padding-inline: 5rem;
  }
}

/* Flex properties for responsive design */
.flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.space-between {
  justify-content: space-between;
}
.space-evenly {
  justify-content: space-evenly;
  gap: 0.75rem;
}
.flex-direction-row {
  flex-direction: row;
}
.horizontal-centered {
  align-items: center;
}
.vertical-centered {
  justify-content: center;
  gap: 0.75rem;
}
@media (min-width: 50em) {
  .flex {
    flex-direction: row;
    align-items: center;
  }
  .flex-direction-column {
    flex-direction: column;
    align-items: flex-start;
  }
}


/* Grid properties for responsive design */
.grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  margin-block: 2rem;
  gap: 1rem;
  grid-auto-flow: dense;
}
.span-2-rows {
  grid-row: span 2;
}
.no-margin {
  margin-block: 0rem;
}
.small-gap {
  gap:0.25rem;
}
@media (min-width: 40em) {
  .two-column {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .three-column {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .four-column {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .five-column {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .span-2-cols {
    grid-column: span 2;
  }
  .span-3-cols {
    grid-column: span 3;
  }
  .span-4-cols {
    grid-column: span 3;
  }
}
@media (min-width: 60em) {
  .two-column {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .three-column {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .four-column {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .five-column {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .span-4-cols {
    grid-column: span 4;
  }
}

header {
  padding: 1rem;
  border: 1px solid var(--clr-neutral-400);
  position: sticky;
  top: 0;
  z-index: 100;
}
@media (min-width: 50em) {
  header {
    padding-inline: 2rem;
  }
}
@media (min-width: 70em) {
  header {
    padding-inline: 5rem;
  }
}

footer {
  padding: 1rem;
  margin-top: auto;
  margin-bottom: 0;
}
footer p {
  font-size: var(--fs-500);
}
@media (min-width: 50em) {
  footer {
    padding-inline: 5rem;
  }
}
@media (max-width:50em) {
  footer {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem;
  border: 1px solid var(--clr-neutral-400);
  border-radius: 10px;
}
.blog-card {
  padding: 0;
  gap: 1rem;
}
.blog-card-content {
  display: flex;
  flex-direction: column;
  padding-inline: 1.5rem;
  padding-bottom: 1.5rem;
  gap: 1rem;
}
.blog-row-content {
  gap: 0.25rem;
}
.blog-row-content:hover h3 {
  color: var(--clr-accent);
}
a .card h2,h3,h4 {
  color: var(--clr-neutral-700);
}
a .card:hover {
  box-shadow: 5px 5px 10px var(--clr-neutral-300);
  transition: box-shadow 0.3s ease;
}
a .card:hover h3 {
  color: var(--clr-accent);
}

.icon-card {
  background-color: var(--clr-neutral-100);
  padding: 0.5rem;
  border-radius: 50px;
}
.icon-card:hover {
  border-radius: 10px;
}
.cta-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-primary);
  color: var(--clr-neutral-100);
  padding-block: 2rem;
  padding-inline: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  gap: 1rem;
}

.logo-image {
  width: 100px;
  aspect-ratio: 1 /1;
  border-radius: 75px;
  filter: grayscale(0);
}

/* Site Logo and Favicon on Header */
.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.logo img {
  max-width: 3.125rem;
  aspect-ratio: auto;
}
.logo p {
  color: var(--clr-primary);
  font-weight: var(--fw-semi-bold);
  font-family: var(--ff-heading);
  font-size: var(--fs-600);
}
a.logo {
  text-decoration: none;
}
a.logo :hover {
  color: var(--clr-accent);
}

/* Navigation Menus on Header*/
.nav a {
  color: var(--clr-neutral-600);
  font-size: var(--fs-500);
}
.nav a:hover {
  color: var(--clr-accent);
}
@media (max-width: 50em) {
  #main-menu {
    position: fixed;
    width: min(100%, 300px);
    border-left: 1px solid var(--clr-neutral-400);
    gap: 2rem;
    top: 0;
    right: 0;
    height: 100vh;
    padding: 2rem;
    justify-content: flex-start;
    background-color: var(--clr-neutral-100);
    z-index: 100;
  }
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 90;
  }
  .nav-link {
    width: 100%;
    padding-block: 0.5rem;
    padding-inline: 1rem;
  }
  .nav-link:hover {
    background-color: var(--clr-neutral-200);
    border-radius: 5px;
  }
  .nav-button {
    min-width: 100%;
  }
}

/* Hide any element on the page based on JavScript execution */
@media (min-width: 50em) {
  .hide-desktop {
    display: none;
  }
}
@media (max-width: 60em) {
  .hide-tablet{
    display: none;
  }
}
@media (max-width: 50em) {
  .hide-mobile {
    display: none;
  }
}
.hide {
  display: none;
}

/* Utility Classes */
.bg-white {
  background-color: var(--clr-neutral-100);
}
.bg-black {
  background-color: var(--clr-neutral-700);
}
.text-accent {
  color: var(--clr-accent);
}
.text-light {
  color: var(--clr-neutral-500);
}
.text-white {
  color: var(--clr-neutral-100);
}
.text-white a {
  color: var(--clr-neutral-100);
}
.text-white a:hover {
  color: var(--clr-accent);
}
.text-centered {
  text-align: center;
}
.text-smallest {
  font-size: var(--fs-300);
}
.font-semi-bold {
  font-weight: var(--fw-semi-bold);
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}