:root {
  --clr-primary:#070707;
  --clr-accent: #fca311;

  --clr-neutral-100: #ffffff;
  --clr-neutral-200: #f6f6f6;
  --clr-neutral-300: #e5e5e5;
  --clr-neutral-400: #d3d3d3;
  --clr-neutral-500: #7c7c7c;
  --clr-neutral-600: #3a3a3a;
  --clr-neutral-700: #070707;

  --fs-300: 0.9375rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;
  --fs-800: 1.75rem;
  --fs-900: 2.25rem;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --ff-body: "Source Sans 3", serif;
  --ff-heading: "Oswald", serif;
}

@media (min-width: 50em) {
  :root {
    --ff-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 1.75rem;
    --fs-800: 2rem;
    --fs-900: 2.5rem;
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  /* background-color: red; */
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4, h5,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4, h5 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
  /* color: red; */
  text-wrap: balance;
}

p {
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-600);
  font-size: var(--fs-400);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
svg,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.container {
  margin-inline: 1rem;
  margin-block: 0.5rem;
  max-width: 1300px;
}
.logo {
  display: flex;
  gap: 0.5rem;
}
.logo img {
  max-width: 3rem;
}
.logo p {
  color: var(--clr-primary);
  font-family: var(--ff-heading);
}